# Función map()

Esta función trabaja de una forma similar a **filter()**, en lugar de aplicar una condición a un elemento de una lista o secuencia, devuelve un iterador de tipo map, que contiene los elementos devueltos por esa función para cada elemento.

In [2]:
def doblar(numero):
    return numero*2
    
numeros = [2, 5, 10, 23, 50, 33]

map(doblar, numeros)

In [3]:
p = map(doblar, numeros)
next(p)

4

Fácilmente podemos transformar este iterador en una lista:

In [5]:
list(map(doblar, numeros))

[4, 10, 20, 46, 100, 66]

Y podemos simplificarlo con una función lambda para substituir la llamada de una función definida:

In [6]:
list( map(lambda x: x*2, numeros) )

[4, 10, 20, 46, 100, 66]

La función **map()** se utiliza mucho junto a expresiones lambda ya que permite ahorrarnos el esfuerzo de crear bucles for.

Además se puede utilizar sobre más de un iterable con la condición que tengan la misma longitud. 

Por ejemplo si queremos multiplicar los números de dos listas:

In [8]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

list( map(lambda x,y : x*y, a,b) )

[6, 14, 24, 36, 50]

E incluso podemos extender la funcionalidad a tres listas o más:

In [12]:
c = [11, 12, 13, 14, 15]

list( map(lambda x,y,z : x*y*z, a,b,c) )

[66, 168, 312, 504, 750]

Para realizar el **map** las secuencias deben tener el mismo número de elementos. Si las secuencias tienen diferentes tamaños, la función **map** se aplicará a los elementos hasta que una de las secuencias se agote, ignorandose el resto de elementos que no tienen una correlación directa con los elementos de la otra secuencia.

In [9]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [6, 7, 8, 9, 10]

list( map(lambda x,y : x*y, a,b) )

[6, 14, 24, 36, 50]

# Mapeando objetos
Evidentemente, siempre que la utilicemos correctamente podemos mapear una serie de objetos sin ningún problema:

In [10]:
class Persona:
    
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad
        
    def __str__(self):
        return "{} de {} años".format(self.nombre, self.edad)

    
personas = [
    Persona("Juan", 35),
    Persona("Marta", 16),
    Persona("Manuel", 78),
    Persona("Eduardo", 12)
]

Por ejemplo una función para incrementar un año de edad a todas las personas de la lista:

In [36]:
def incrementar(p):
    p.edad += 1
    return p

personas = map(incrementar, personas)

for persona in personas:
    print(persona)

Juan de 36 años
Marta de 17 años
Manuel de 79 años
Eduardo de 13 años

Si queremos usar una función **lambda** con un objeto, no se puede indicar como valor de retorno (**persona.edad += 1**) una expresión que modifica un campo del objeto:
```python
lambda persona: persona.edad += 1
```
Por lo tanto, será necesario indicar como valor de retorno un nuevo objeto de clase **Persona** con la información que deseamos modificar.

In [11]:
personas = [
    Persona("Juan", 35),
    Persona("Marta", 16),
    Persona("Manuel", 78),
    Persona("Eduardo", 12)
]

personas = map(lambda persona: Persona(persona.nombre, persona.edad+1), personas)

for persona in personas:
    print(persona)

Juan de 36 años
Marta de 17 años
Manuel de 79 años
Eduardo de 13 años

Y con esto acabamos esta interesante funcionalidad.